# Ignore build output
bin/
obj/
out/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code settings
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# .NET secrets
**/secrets.json

# Environment files
.env
.env.*

# Packages
packages/
*.nupkg

# Rider IDE
.idea/

# Others
node_modules/
